<?xml version="1.0"?>
<!--
Copyright (c) 2018 Javier Cañon
https://www.javiercanon.com 
https://www.javiercañon.com
-->
<configuration>
  <system.webServer>
    <!-- 
      <authorization>
        <deny users="?" />
      </authorization>
-->
    <security>
      <ipSecurity allowUnlisted="false">
        <clear/>
        <add ipAddress="127.0.0.1" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
