<?xml version="1.0"?>
<configuration>
    <system.web>

      <pages enableViewState="false" enableViewStateMac="false" 
             enableEventValidation="false" 
             validateRequest="false" 
             viewStateEncryptionMode="Auto" 
             maintainScrollPositionOnPostBack="false" 
             clientIDMode="Predictable" 
             controlRenderingCompatibilityVersion="4.0">
      </pages>

      
    </system.web>
</configuration>
