<?xml version="1.0"?>
<!--
Copyright (c) 2018 Javier Cañon
https://www.javiercanon.com 
https://www.javiercañon.com
-->
<configuration>
    <system.web>

      <pages enableViewState="false" enableViewStateMac="false" 
             enableEventValidation="false" 
             validateRequest="false" 
             viewStateEncryptionMode="Auto" 
             maintainScrollPositionOnPostBack="false" 
             clientIDMode="Predictable" 
             controlRenderingCompatibilityVersion="4.0">
      </pages>

      
    </system.web>
</configuration>
