/* jumbotrom */

div.jumbotron.bg-success {
    background-color: chartreuse !important;
}

/* steps */
.smpl-step {
    margin-top: 40px;
}

.smpl-step {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .smpl-step > .smpl-step-step {
        padding: 0;
        position: relative;
    }

        .smpl-step > .smpl-step-step .smpl-step-num {
            font-size: 17px;
            margin-top: -20px;
            margin-left: 47px;
        }

        .smpl-step > .smpl-step-step .smpl-step-info {
            font-size: 14px;
            padding-top: 15px;
        }

        .smpl-step > .smpl-step-step > .smpl-step-icon {
            position: absolute;
            width: 70px;
            height: 70px;
            display: block;
            background: #5CB85C;
            top: 45px;
            left: 50%;
            margin-top: -35px;
            margin-left: -15px;
            border-radius: 50%;
        }

        .smpl-step > .smpl-step-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin-top: 37px;
        }

            .smpl-step > .smpl-step-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #428BCA;
            }

        .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
            background-color: #f5f5f5;
        }

            .smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
                opacity: 0;
            }

        .smpl-step > .smpl-step-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .smpl-step > .smpl-step-step:last-child > .progress {
            width: 50%;
        }

        .smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
            pointer-events: none;
        }

.smpl-step-info {
    border: 1px solid green;
    padding: 5px;
}

.smpl-step-icon {
    color: black;
    font-size: 30pt;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}
/* nav bar */
.navbar-inverse {
    background-color: #5CB85C !important;
    border-color: #4cff00 !important;
}

    .navbar-inverse .navbar-brand {
        color: #f5f5f5 !important;
    }

a#brandName.navbar:hover {
    color: #000000 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e0e0e0 !important;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #000000 !important;
    }

/* error */
label.valid {
    width: 24px;
    height: 24px;
    /* background: url(assets/img/valid.png) center center no-repeat; */
    color: green;
    display: inline-block;
    text-indent: -9999px;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

footer, #copy > a, #copy > a:visited {
    font-size: x-small;
    color: gray;
}

.tabinfo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab-content {
 padding:5px;
 border:1px solid gray;
}